html, body {
    padding: 0;
    margin: 0;
}

/** Меню **/
nav.bg-dark {
    background-color: #2c2c2e !important;
    width: 100%;
    height: 45px;

    position: fixed;

    z-index: 999999;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li.nav-item::before {
    content: "";

    width: 5px;
    height: 5px;

    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 100%;

    background-color: #ffba00;
}

nav ul li a {
    color: #fff !important;
    font-size: 14px;

    text-decoration: underline;
}

nav ul li a:hover {
    text-decoration: none;
}

/** Градиент **/
.bg-radial-gradient {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
}

/** Видео **/
.bg-video {
    width: 100%;
    height: auto;
}

/** Стилизация секций **/
section.full-screen {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

div #section-one, #section-two, #section-three {
    background-color: #4F5A65;
}

div #section-one {
    background-image: url('https://games.mail.ru/pic/pc/gallery/00/81/ae8ef463.jpeg');
}

/** Стилизация скролинга **/
div.scroll-navigate {
    position: fixed;
    bottom: 40px;
    right: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    font-family: 'PT Sans';
}

div.scroll-navigate span {
    margin-right: 20px;
    
    color: rgba(255, 255, 255, 0.3);
}

div.scroll-navigate div.scroll-section {
    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    
    transform: rotateY(0deg);

    transition: .6s;
}

div.scroll-navigate div.scroll-section:hover {
    transform: rotateY(180deg);
}

div.scroll-navigate div.scroll-section .fa {
    color: rgba(255, 255, 255, 0.3);
    font-size: 25px;
}

/** Сообщения **/
div.container-message {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;

    transition: .2s;

    overflow: hidden;
}

div.container-message div.message {

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 720px;
    height: 50px;
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    background-color: #2B2B2B;

    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, 0.2);

    padding-left: 20px;
    padding-right: 20px;

    color: rgba(255, 255, 255, 0.3);

    
}

div.container-message div.message span.text {
    font-family: 'PT Sans';
}

div.container-message div.message i.fa {
    cursor: pointer;
}

div.container-message div.message i.fa:hover {
    opacity: 0.7;
}